@layer blocks {
  .standalone-text {
    width: 100%;

    &.standalone-text-single {
      max-width: calc(var(--grid-column-width) * 8);
      margin-inline: auto;
      text-align: center;
    }

    &.standalone-text-columns > div {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--spacing-m);

      @media (width >= 768px) {
        grid-template-columns: 5fr 7fr;
        gap: var(--spacing-xl);
      }
    }

    .standalone-text-heading {
      h2, h3 {
        margin-top: 0;
      }
    }

    .standalone-text-body {
      color: light-dark(var(--color-gray-600), var(--color-gray-300));
    }
  }
}
