footer {
  position: relative;
  background:
    var(--footer-gradient),
    var(--color-alpha-dark-80);
  backdrop-filter: saturate(150%) blur(100px);
  padding-top: 96px;

  a {
    text-decoration: none;
    color: var(--color-gray-100);
    transition: var(--transition-color);

    &:hover {
      color: var(--color-light);
    }
  }

  .footer-content {
    max-width: var(--grid-container-width);
    padding: 48px 0;
    margin: 0 auto;
    font-size: 14px;
    color: var(--color-gray-400);
    border-top: 1px solid var(--color-alpha-light-10);
  }

  li {
    margin-block: 0;
  }

  .section-legal ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .section-copyright p {
    margin: 0;
  }

  .section {
    .default-content {
      max-width: initial;
      margin: initial;
    }
  }
}

@media (width >= 1240px) {
  footer {
    margin: 0;

    .section-legal {
      display: flex;
      justify-content: end;
      gap: var(--spacing-xl);
      margin-bottom: 24px;

      ul {
        display: flex;
        justify-content: end;
        gap: var(--spacing-xl);
      }

      li {
        margin: 0;
      }
    }

    .section-copyright {
      display: flex;
      justify-content: end;
      gap: var(--spacing-xl);
    }
  }
}
